<h1>Stupid Coaching</h1>

<form class="m-4 form-inline" action="/answer" method="get" data-turbo="false">
  <label class="mb-2" for="question">Ask your coach anything:</label>
  <div class="input-group flex-fill">
    <input class="form-control" type="text" id="question" name="question">
    <input class="btn btn-primary" type="submit" value="Ask">
  </div>
</form>
